<div class="container">
  <form [formGroup]="myForm">
    <datepicker class = "customForm"
      [placeholderDate]="'Дата начала'"
      [datePicker] = "true"
      [minRangeDateTimeFromCurrentYear]="'1 year'"
      [maxRangeDateTimeFromCurrentYear]="'1 year'"
      formControlName="startDate"
    >
    </datepicker>
    <datepicker class = "customForm"
      [placeholderDate]="'Дата окончания'"
      [datePicker] = "true"
      [minRangeDateTimeFromCurrentYear]="'1 year'"
      [maxRangeDateTimeFromCurrentYear]="'1 year'"
      formControlName="endDate"
    >
    </datepicker>
    <button (click)="log()">Log</button>
  </form>
</div>

