<div class="container">
  <form [formGroup]="myForm">
    <datepicker #startDate class = "customForm"
      [ngClass]="{'is-invalid': formSD.hasError('startDateIsLargerEndDate')}"
      [placeholderDate]="'Дата начала'"
      [datePicker] = "true"
      [minRangeDateTimeFromCurrentYear]="'1 year'"
      [maxRangeDateTimeFromCurrentYear]="'1 year'"
      formControlName="startDate"
    >
    </datepicker>
    <span>{{formSD.errors?.['message']}}</span>
    <datepicker #endDate class = "customForm"
      [ngClass]="{'is-invalid': formED.hasError('endDateLessStartDate')}"
      [placeholderDate]="'Дата окончания'"
      [datePicker] = "true"
      [minRangeDateTimeFromCurrentYear]="'1 year'"
      [maxRangeDateTimeFromCurrentYear]="'1 year'"
      formControlName="endDate"
    >
    </datepicker>
    <span>{{formED.errors?.['message']}}</span>
  </form>
</div>

